<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Habit Tracker </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <nav>
            <a href="/"> 
                <i class="fas fa-home"></i> 
            </a>
        </nav>
        <main>
            <div class="heading">
                <h1> Habit Tracker </h1>
            </div>
    
            <div class="content">
                <%- body %>
            </div>
        </main>
        <%- script %>
    </body>
</html>